extends ../_layout.jade

block head
  link(href='/css/dashboard/admin.css', rel='stylesheet')
  
block scripts
  script(src='/js/dashboard/admin.js', type='application/javascript')

block nav-items
  a.nav-item(state='upcomingAppointments')
    li Upcoming Appointments
  a.nav-item(state='settings')
    li Settings

block content
  .content
