extends ../_layout.jade

block head
  link(href='/css/dashboard/advisee.css', rel='stylesheet')
  
block scripts
  script(src='/js/dashboard/advisee.js', type='application/javascript')

block nav-items
  a.nav-item(state='calendar')
    li Calendar
  a.nav-item(state='settings')
    li Settings

block content
  .content
