// Advisor Dashboard
.row.full-width
  .columns.small-12.medium-3.large-2
    .sidebar.callout
      button.button(state='calendar') Calendar
      button.button(state='agenda') Agenda
      button.button(state='settings') Settings
  .columns.small-12.medium-9.large-10
    .content