extends ../_layout.jade

block head
  link(href='/css/dashboard/advisee.css', rel='stylesheet')
  
block scripts
  script(src='/js/dashboard/advisee.js', type='application/javascript')

block nav-items
  li
    a.nav-item(state='calendar') Calendar
  li
    a.nav-item(state='settings') Settings

block content
  .content
