// Advisor Dashboard
.row.full-width
  .columns.small-12.medium-3.large-2
    .sidebar
      button.button(state='calendar') Calendar
      button.button(state='agenda') Agenda
      button.button(state='settings') Settings
      button.button(state='addAppointment') Add Appointment Slot(s)
  .columns.small-12.medium-9.large-10
    .content
    
// Appointment Slot dialog
.appointment-dialog
  a.close-dialog-button
    | x
  .row
    .columns.small-12.dialog-content
        h2 Add Appointment Slot(s)
