extends ../_layout.jade

block head
  link(href='/css/dashboard/advisor.css', rel='stylesheet')
  
block scripts
  script(src='/js/dashboard/advisor.js', type='application/javascript')

block nav-items
  a.nav-item(state='calendar')
    li Calendar
  a.nav-item(state='agenda')
    li Agenda
  a.nav-item(state='settings')
    li Settings
  a.nav-item(state='advisees')
    li Advisees
  a.nav-item(state='addSlots')
    li Add Slots

block content
  .content
