br
.row
  .columns.small-12.medium-3
    .callout.sidebar
      button.button(data-bind='click: showCalendar') Calendar
      button.button(data-bind='click: showConfig') Configure Times
      button.button(data-bind='click: showSettings') Settings
  .columns.small-12.medium-9.content-town
    // ko if: isState('calendar')
    .calendar-town
      #advisorCalendar
    // /ko
    
    // ko if: isState('appointments')
    .appointments-town
      h4 Appointments Town
    // /ko
    
    // ko if: isState('settings')
    .settings-town
      h4 Settings Town
    // /ko
    
script(src='/js/advisor/dashboard.js', type='application/javascript')