doctype html
html
  head
    title University of Louisiana at Monroe - Advising Assistant
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/foundation-essential/6.0.6/css/foundation.css')
    link(href='/css/default.css', rel='stylesheet')
    block head
    
  body
    .row.full-width
      .columns.small-12.sub-header
            #loginButton
              a(href='/users/login') Login
    .row.full-width
      .columns.small-12.header
        img(src='/img/ulm_logo.png')
    block content
    script(src='/js/jquery.js' type='application/javascript')
    script(src='/js/knockout.js' type='application/javascript')
    block scripts