doctype html
html
  head
    title University of Louisiana at Monroe - Advising Assistant
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    link(href='https://fonts.googleapis.com/css?family=Lato|PT+Sans', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Quicksand:400,300,700', rel='stylesheet', type='text/css')
    
    link(href='/css/rewrite.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/fullcalendar.css')
    block head
    
    script(src='/js/moment.js' type='application/javascript')
    script(src='/js/jquery.js' type='application/javascript')
    script(src='/js/foundation.min.js' type='application/javascript')
    script(src='/js/jquery.blockUI.js' type='application/javascript')
    script(src='/js/fullcalendar.min.js' type='application/javascript')
    script(src='/js/underscore-min.js' type='application/javascript')

    script(type='application/javascript').
      $(document).ready(function() {
        // Get list of roles and bind events
        $.get({ url: '/api/roles' }).done(function(data) {
          if(data.success) {
            var $roleDropdownEl = $('#roleDropdown');
            $.each(data.roles, function(i, ele) {
              $roleDropdownEl.append('<option value="' + ele.id + '">' + ele.role + '</option>')
            });
            
            // Set initial value of dropdown
            var role_id = '#{role_id}';
            $roleDropdownEl.val('#{role_id}')
            
            // On role drop down change
            $roleDropdownEl.on('change', function() {
              $.post({ 
                url: '/api/roles/set', 
                data: {
                  role_id: $(this).val()
                }
              }).done(function(data) {
                if(data.success) {
                  location.reload();
                }
              });
            });
          }
        });
      });
    
    block scripts
    
  body
    .topbar
    .sidebar
      .logo
        img(src='http://k-104.com/wp-content/uploads/2015/08/Louisiana-Monroe-sportsbook.pics_.gif')
      if isAuthenticated
        select#roleDropdown
      ul
        if isAuthenticated
          h6 MENU
          li 
            a(href='/dashboard') #{user}
          block nav-items
          li 
            a(href='/users/logout') Logout
        else
          li 
            a(href='/users/login') Login
          li 
            a(href='/users/register') Register
          block nav-items
    .row
      .columns.small-12
        .content-wrapper
          block content
