doctype html
html
  head
    title University of Louisiana at Monroe - Advising Assistant
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    link(rel='stylesheet', href='/css/foundation.min.css')
    link(rel='stylesheet', href='/css/fullcalendar.css')
    link(href='/css/default.css', rel='stylesheet')
    block head
    
    script(src='/js/moment.js' type='application/javascript')
    script(src='/js/jquery.js' type='application/javascript')
    script(src='/js/foundation.min.js' type='application/javascript')
    script(src='/js/jquery.blockUI.js' type='application/javascript')
    script(src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.js' type='application/javascript')
    block scripts
    
  body
    input(id='userCWID', type='hidden', value='#{cwid}')
    if isAuthenticated
      .top-bar-button.top-bar-button-two Hi, #{user}
      a.top-bar-button.top-bar-button-one(href='/users/logout') Logout
    else
      a.top-bar-button.top-bar-button-two(href='/users/login') Login
      a.top-bar-button.top-bar-button-one(href='/users/register' style='padding-left:15px;') Register
    .row.full-width
      .columns.small-12.header
        img(src='/img/Logo20.png')
        
    block content
