doctype html
html
  head
    title University of Louisiana at Monroe - Advising Assistant
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    link(rel='stylesheet', href='/css/foundation.min.css')
    link(href='/css/default.css', rel='stylesheet')
    block head
    
  body
    .row.full-width
      .columns.small-12.sub-header
            #loginButton
              if isAuthenticated
                | Hi, #{user}
                a(href='/users/logout') Logout
              else
                a(href='/users/login') Login
                // Temporary register button
                a(href='/users/register' style='padding-left:15px;') Register
    .row.full-width
      .columns.small-12.header
        img(src='/img/Logo20.png')
        
    block content
    
    script(src='/js/jquery.js' type='application/javascript')
    script(src='/js/foundation.min.js' type='application/javascript')
    script(src='/js/knockout.js' type='application/javascript')
    block scripts