doctype html
html
  head
    title University of Louisiana at Monroe - Advising Assistant
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    //
      Stylesheets
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/foundation-essential/6.0.6/css/foundation.css')
    link(href='/css/default.css', rel='stylesheet')
    
  body
    .row
      .columns.small-12.header
        div University of Louisiana at Monroe
        div Advising Assistant
      
    //
      Scripts
    script(src='/js/knockout.js')