extends ./_layout.jade

block content
   form.login-form
      | CWID:
      br
      input(type='text', name='cwid')
      br
      | Username:
      br
      input(type='text', name='username')
      br
      | Password:
      br
      input(type='text', name='password')
      br
      button.button Submit