.login-form {
  padding-top: 15%; }
  .login-form button {
    width: 100%;
    background-color: #660000; }
  .login-form button:focus {
    background-color: #660000; }
  .login-form button:hover {
    background-color: #660000; }
