.advisee-list {
  list-style: none;
  margin: 0 0 10px 0;

  .fi-trash {
    cursor: pointer;
  }

  li {
    padding: 5px 10px 5px 10px;
  }

  li:nth-child(odd) {
    background-color: rgba(0, 0, 0, .05);
  }

  li:nth-child(even) {
    background-color: rgba(0, 0, 0, .1);
  }
}

.send-email-button {
  background-color: #860000 !important;
  width: 100%;
}

.add-new-button {
  background-color: #860000 !important;
}

.add-new-button:focus {
  background-color: #860000 !important;
}

.add-new-button:hover {
  background-color: #860000 !important;
}
