.appointment-dialog {
  position:fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  z-index: 10;
  background-color: white;
  display: none;
  border-radius: 10px;

  .close-dialog-button {
    position: absolute;
    top: -7px;
    right: 5px;
    font-size: 28px;
    color: black;

    &:hover {
      color: gray;
    }
  }
}
