<h3 class='content-title'>Upcoming Appointments</h3>
<hr />
<form class='search-form'>
  <div class='row'>
    <div class='columns small-12'>
      <input type='text' placeholder='Advisor CWID or Name' name='advisor_cwid' class='advisor-cwid-input' />
    </div>
  </div>
</form>
<div class='row'>
  <div class'columns small-12'>
    <ul class='appointments-list'></ul>
  </div>
</div>
<br />
<div class='row'>
  <div class'columns small-12'>
    <button class='button export-button'>Export</button>
  </div>
</div>
