<h3 class='content-title'>Remove Appointment Slots</h3>
<hr />
<div class='row'>
  <div class='columns small-12'>
    <form class='remove-slots-form'>
      <label>Date</label>
      <input name='date' type='date' placeholder='Date' />
      <label>Start Time</label>
      <input name='start_time' type='time' placeholder='Start Time' />
      <label>End Time</label>
      <input name='end_time' type='time' placeholder='End Time' />
      <button class='button'>Submit</button>
    </form>
  </div>
</div>
