$mobileWidth: 480px;

/* @media only screen and (max-device-width: $mobileWidth) */

.header {
  text-align: center;
  background-color: maroon;
  padding-bottom: 5px;
  background-image: url('/img/bg_pattern.png');
  height: 130px;
  img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.login-form {
  text-align: center;
}

@media only screen and (max-device-width: $mobileWidth) {
  /*  Mobile Styles */
  .header {
    height: 74px;
    img {
      height: 66px;
      padding: 4px 0 4px 0;
    }
  }
}