.login-form {
  padding-top: 15%;
  position: relative;

  .alert-row {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
  }

  button {
    width: 100%;
    background-color: #660000;
  }

  button:focus {
    background-color: #660000;
  }

  button:hover {
    background-color: #660000;
  }
}
