extends ../_layout.jade

block content
  .login-form
    .row
      .columns.small-12.medium-6.medium-offset-3
        .callout.alert.alert-box(data-alert, hidden)
    .row
      .columns.small-12.medium-6.medium-offset-3
        .callout
          label
            | CWID
            input(id='cwid', type='text', name='cwid', placeHolder='CWID')
          label
            | Password
            input(id='password', type='password', name='password', placeHolder='Password')
          button.button#loginSubmit Submit

block scripts
  script(src='/js/login.js', type='application/javascript')