extends ../_layout.jade

block content
  .row
    .columns.small-6.small-offset-3
      form.register-form
        | CWID:
        br
        input(type='text', name='cwid')
        br
        | Username:
        br
        input(type='text', name='username')
        br
        | Password:
        br
        input(type='password', name='password')
        br
        | Verify Password:
        br
        input(type='password', name='passwordVerify')
        br
        br
        button.button Submit